.first_link{
    display: inline-block;
    background-color: #dbd94e90;
    font-weight: bold;
    transition: all .6s ease-in-out;
}
.first_link:hover{
    display: inline-block;
    width: 180px;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: all .6s ease-in;
}
.last_hover:hover{
    display: inline-block;
    width: 120px;
}
.second_link{
    display: inline-block;
    font-weight: bold;
    transition: all .6s ease-in-out;
}
.second_link:hover{
    display: inline-block;
    width: 120px;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: all .6s ease-in;
}

.bold{
    font-weight: bold;
}

.myColor{
    color: #878638;
}
.card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.container {
    position: relative;
  }

/* Make the image to responsive */
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
  }